@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-menu {
  transform: translateX(200px); /* Width of the nav */
}

.header-container {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 40px 15px;
}

.header-container h1 {
  margin: 0;
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#menu-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
}

#sign-up {
  padding: 12px 30px;
  font-size: 20px;
}

.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 200px;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  z-index: 100;
  transform: translateX(-100%);
}

.menu-container .avatar img {
  display: block;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 30px auto;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-container ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  width: 100%;
  padding: 10px 15px;
}

.menu-container ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

.menu-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.menu-container ul li a:hover {
  text-decoration: underline;
}

.content-container {
  padding: 15px;
  max-width: 100%;
  width: 800px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px 20px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
}

.modal-content div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.modal-form .form-input:focus {
  outline: none;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
