@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

label {
  font-size: 14px;
  margin-right: 10px;
}

#movie-select {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: none;
}

.legend {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);
  border-radius: 3px;
  padding: 5px 5px;
  margin: 20px 0;
}

.legend li {
  list-style: none;
}

.legend .legend-text {
  color: rgb(104, 104, 104);
}

.movie-seat-container {
  cursor: default;
}

.movie-seat-container .seat-row {
  display: flex;
  /* width: 170px;
  justify-content: space-between; */
  justify-content: center;
}

.movie-seat {
  display: inline-block;
  width: 15px;
  height: 12px;
  background-color: #444451;
  border: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 3px;
}

.movie-seat.selected {
  background-color: aquamarine;
}

.movie-seat.occupied {
  background-color: #fff;
}

.movie-seat:nth-of-type(2) {
  margin-right: 18px;
}

.movie-seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.movie-screen {
  width: 180px;
  border-top: 50px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 2px;
  filter: drop-shadow(0 0 4px lightgrey);
  margin: 10px 0 15px;
}

.movie-seat-container .movie-seat {
  cursor: pointer;
}

.movie-seat-container .occupied {
  cursor: auto;
}

.selected-info {
  font-size: 12px;
  margin-top: 20px;
}

.selected-info span {
  color: aquamarine;
}
