@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

label {
  font-size: 14px;
  margin-right: 10px;
}

#movie-select {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: none;
}

.legend {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0;
  color: #777;
  list-style-type: none;
}

.legend li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.legend .legend-text {
  color: rgb(104, 104, 104);
  margin-left: 2px;
}

.movie-seat-container {
  cursor: default;
  perspective: 1000px;
}

.movie-seat-container .seat-row {
  display: flex;
  justify-content: center;
}

.movie-seat {
  display: inline-block;
  width: 15px;
  height: 12px;
  background-color: #444451;
  border: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 3px;
}

.movie-seat.selected {
  background-color: aquamarine;
}

.movie-seat.occupied {
  background-color: #fff;
}

.movie-seat:nth-of-type(2) {
  margin-right: 18px;
}

.movie-seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.movie-screen {
  width: 180px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  transform: rotateX(-45deg);
  /* This is a different way to skew the movie screen:
    create trapezoid and use drop shadow filter
  border-top: 50px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 2px;
  filter: drop-shadow(0 0 4px lightgrey); */
  margin: 15px 0;
}

.movie-seat-container .movie-seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.movie-seat-container .occupied {
  cursor: default;
}

.selected-info {
  font-size: 12px;
  margin-top: 30px;
}

.selected-info span {
  color: aquamarine;
}
